.sidebar {
  background-color: #004975;
  color: white;
  height: 100vh;
  padding: 16px 12px;
  position: fixed;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 60px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.sidebar a {
  display: block;
  color: white;
  text-decoration: none;
  margin: 10px 0;
  padding: 8px 12px;
  text-align: center;
  width: 100%;
}

.sidebar a:hover {
  color:#18837E
}
